<!DOCTYPE html>
<html>
<head>
<title>Data Management System</title>
</head>
<body>
  <h1 style="text-align: center; color: #007bff;">AMBASSADOR SPORTS</h1>
  <h3 style="text-align: center; color: #007bff;">Data Management System</h3>
  
  <div style="display: flex; justify-content: space-around;">
  <div style="text-align: center">
    <h1 style="color: #007bff">GLOVES</h1>
    <p><a href="products_page.html" class="button">Products</a></p>
    <p><a href="makers_page.html" class="button">Makers</a></p>
    <p><a href="order_history_page.html" class="button">Order History</a></p>
</div>
<div style="text-align: center">
  <h1 style="color: #007bff">FOOTBALL</h1>
   <p><a href="products_page.html" class="button">Products</a></p>
   <p><a href="makers_page.html" class="button">Makers</a></p>
   <p><a href="order_history_page.html" class="button">Order History</a></p>
</div>
</div>

  
  <div style="text-align: center; margin-top: 50px;">
    <p style="font-size: 30px; color: #007bff;">+</p>
  </div>
  
  <div style="display: flex; justify-content: space-around; margin-top: 50px;">
  <div style="text-align: center">
    <h2 style="color: #007bff">WORKFRES</h2>
  </div>
  <div style="text-align: center">
    <h2 style="color: #007bff">INVENTORY</h2>
  </div>
  </div>
</body>
</html>
